amqp==5.0.6
beautifulsoup4==4.10.0
billiard==3.6.4.0
celery==5.2.1
celery-progress==0.1.1
certifi==2021.10.8
colorama==0.4.4
coloredlogs==15.0.1
coverage==6.2
cycler==0.11.0
decorator==5.1.0
Django==4.0
django-appconf==1.0.5
django-bootstrap4==21.1
django-coverage-plugin==2.0.2
django-crispy-forms==1.13.0
django-extensions==3.1.5
django-extra-views==0.14.0
django-filter==21.1
django-formtools==2.3
django-polymorphic==3.1.0
django-redis==5.1.0
django-rest-polymorphic==0.1.9
django-select2==7.9.0
django-widget-tweaks==1.4.9
djangorestframework==3.12.4
fake-useragent==0.1.11
fonttools==4.28.3
inflection==0.5.1
Jinja2==3.0.3
joblib==1.1.0
kombu==5.2.2
matplotlib==3.5.0
modAL
numpy==1.21.4
Pillow==8.4.0
pip==21.2.4
pluggy==1.0.0
prompt-toolkit==3.0.23
psycopg2-binary==2.9.2
py==1.11.0
pyparsing==3.0.6
pytest==6.2.5
pytest-django==4.5.2
python-dotenv==0.19.2
pytz==2021.3
PyYAML==6.0
redis==3.5.3
requests==2.26.0
scikit-image==0.19.0
scikit-learn==1.0.1
scipy==1.7.3
setuptools==57.5.0
setuptools-scm==6.3.2
soupsieve==2.3.1
stanza
threadpoolctl==3.0.0
typing_extensions==4.0.1
vine==5.0.0
wheel==0.37.0