{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
    <title> ALAMBIC | Tasting</title>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "alambic_app/css/annotation.css" %}">
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script src="{% static "alambic_app/js/charts.js" %}"></script>
{% endblock %}

{% block primary %}

    <main id="home" role="main" class="container-fluid maxWidth90">
        <div class="chartdiv" id="plots_performance">
        </div>
        <div id="annotation_div">

            <div id="data_div">
                {% if to_annotate|get_class == "Image" %}
                    {% convert_image to_annotate %}
                {% elif to_annotate|get_class == "Text" %}
                    {{ to_annotate.content }}
                    <br>
                    {{ to_annotate.misc }}
                {% endif %}
            </div>

            <div id="label_div">
                <div class="col-md-10">
                    {% crispy form %}
                </div>
            </div>
        </div>
    </main>

{% endblock %}