{% extends 'annotations/annot_template.html' %}
{% load static %}
{% load custom_tags %}

{% block javascripts %}
    {{ block.super }}
    <script src="{% static 'libs/leader-line/leader-line.min.js' %}"></script>
    <script src="{% static "alambic_app/js/relation_extraction.js" %}"></script>
{% endblock %}

{% block primary %}
    <main id="home" role="main" class="container-fluid maxWidth90">
        <div class="chartdiv" id="plots_performance">
        </div>
        <div id="annotation_div" class="card">
            <div class="card-header">
                <ul class="nav nav-tabs" id="TabModels" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="entities-tab" data-toggle="tab" href="#entities" role="tab"
                           aria-controls="entities" aria-selected="true"><i class="material-icons align-bottom">assignment_ind</i>
                            Entities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="relation-tab" data-toggle="tab" href="#relation" role="tab"
                           aria-controls="relation" aria-selected="false"><i class="material-icons align-bottom">sync_alt</i>
                            Relations</a>
                    </li>
                </ul>
                <div class="tab-content" id="TabModelsContent">
                    <div class="tab-pane fade show active" id="entities" role="tabpanel"
                         aria-labelledby="entities-tab"></div>
                    <div class="tab-pane fade" id="relation" role="tabpanel" aria-labelledby="relation-tab"></div>
                </div>
            </div>
            <div id="text-div" class="card-body"><br>{% to_span to_annotate %}
            </div>
            <div id="footer-div" class="card-footer">
                <button id="submit_annotation" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </main>
{% endblock %}