{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}
    <title> ALAMBIC | Distilling </title>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "alambic_app/css/annotation.css" %}">
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script src="{% static "alambic_app/js/charts.js" %}"></script>
    <script>
        $(function () {
            function checkJobStatus() {
                $.ajax({
                    url: '/job_status',
                    data: {
                        'token': "{{ token }}"
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.status === "SUCCESS") {
                            window.location.replace("/tasting");
                        } else if (data.status === "FAILURE") {
                            $("#job_status").text(data.status);
                            $("#job-failure-message").removeClass("d-none");
                            $("#loading-gif").attr("src", "{% static 'images/error.gif' %}")
                        } else {
                            $("#job_status").fadeOut(function () {
                                if (data.current_step === 1) {
                                    var text = "TRAINING...";
                                } else if (data.current_step === 2) {
                                    var text = "PREDICTING..."
                                } else if (data.current_step === 3) {
                                    var text = "REGISTERING THE PERFORMANCE..."
                                } else {
                                    var text = "CHOOSING THE BEST QUERY..."
                                }
                                $(this).text(text).fadeIn();
                            });
                            setTimeout(checkJobStatus, 3000);
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $("#job_status").text("UNKNOWN");
                        $("#job-failure-message").removeClass("d-none");
                        $("#loading-gif").attr("src", "{% static 'images/error.gif' %}")
                    }
                });
            }

            checkJobStatus();
        });
    </script>

    <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
    <script>
        // vanilla JS version
        document.addEventListener("DOMContentLoaded", function () {
            const urls = [
            {% for task_id in task_ids %}"{% url 'celery_progress:task_status' {{ task_id }} %}",
            {% endfor %}];
            CeleryProgressBar.initProgressBar(progressUrl[0], 
            progressBarId: "progress-bar-training",
            progressBarMessageId: "progress-bar-message-training",
            );
            CeleryProgressBar.initProgressBar(progressUrl[1], 
            progressBarId: "progress-bar-predict",
            progressBarMessageId: "progress-bar-message-predict",
            );
        });
    </script>
    {% if type_learning == 'model' %}
        {% if task == 'C' %}
            <script src="{% static "alambic_app/js/classification.js" %}"></script>
        {% endif %}
    {% else %}
        <script src="{% static "alambic_app/js/analysis.js" %}"></script>
    {% endif %}
{% endblock %}

{% block primary %}

    <main id="home" role="main" class="container-fluid maxWidth90">
        <h1>Distilling the knowledge (and the data)</h1>

        <div class="chartdiv" id="plots_performance">
        </div>

        <div class="col-12 form-area py-3">
            <div id="loading-gif" class="row justify-content-center">
                <img src="{% static 'images/alambic.gif' %}" alt="experiment"/>
            </div>

            <div class="row justify-content-center align-items-center">

                <div class="row mt-3">
                    <div class="col-3 dtf color-black">Job Id:</div>
                    <div class="col-9 dtf" id="job_id">{{ token }}</div>
                    <div class="col-3 dtf color-black">Job Status:</div>
                    <div class="col-9 dtf" id="job_status">{{ job_status }}</div>
                    {% if type_learning == "analysis" %}
                        {% add_stats_analysis %}
                    {% endif %}
                </div>

                <div class='progress-wrapper-train'>
                    <div id='progress-bar-train class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;
                    </div>
                    <div id="progress-bar-message-training">
                        Waiting for the model to begin training...
                        </div>
                </div>
                
                <div class='progress-bar-wrapper-predict'>
                    <div id='progress-bar-predict class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
                    </div>
                    <div id="progress-bar-message-predict">
                    Waiting for the model to begin inferring the unlabelled samples...
                    </div>
                </div>

                <div id="job-failure-message" class="alert alert-danger w-50 pb-0 mt-4 d-none row">
                    <div class="col-1 mt-2">
                        <i class="fas fa-exclamation-triangle fa-2x"></i>
                    </div>
                    <div class="col-11">
                        <p>
                            An unexpected error happened with your job.<br/>
                            If the error persists, don't hesitate to post an issue on the repository of ALAMBIC.
                        </p>
                    </div>
                </div>
            </div>


        </div>

    </main>

{% endblock %}