{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title> ALAMBIC | Distillate </title>
{% endblock %}

{% block primary %}

    <main id="home" role="main" class="container-fluid maxWidth90">
        <p>
            Pipeline to implement : training ->
            prediction unlabelled -> query strategy -> annotation and then back to training until stop criterion
        </p>
        <p>
            Add plots for the tracking of results (AUC, precision, etc. in function of % labelled data/total data)
        </p>
    </main>

{% endblock %}