{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title> ALAMBIC | Documentation </title>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'alambic_app/css/documentation.css' %}"/>
{% endblock %}

{%  block javascripts %}
    {{ block.super }}
    <script id="MathJax-script" async src={% static "libs/mathjax/es5/tex-mml-chtml.js" %}></script>
{%  endblock %}

{% block navbar %}
    {{ block.super }}
    <div class="navbar-collapse collapse dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link scroll-link f16" href="#summary">Summary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link scroll-link f16" href="#annot">Annotation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link scroll-link f16" href="#models">Available models</a>
            </li>
            <li class="nav-item">
                <a class="nav-link scroll-link f16" href="#activelearning">Active learning</a>
            </li>
            <li class="nav-item">
                <a class="nav-link scroll-link f16" href="#tutorials">Tutorials</a>
            </li>
            <li class="nav-item">
                <a class="nav-link scroll-link f16" href="#faq">FAQ</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block primary %}

    <div class="container-fluid" itemtype="http://schema.org/QAPage">

        <div class="row flex-xl-nowrap">

            <!--The navigation bar on the right side of the page-->
            <div class="d-none d-xl-block col-xl-3 bd-toc">
                <ul class="section-nav">
                    <li class="toc-entry toc-h2"><a href="#summary"><b>Summary</b></a></li>
                    <li class="toc-entry toc-h2"><a href="#annot"><b>Annotation</b></a>
                    </li>
                    <li class="toc-entry toc-h2"><a href="#models"><b>Available models</b></a>
                    </li>
                    <li class="toc-entry toc-h2"><a href="#activelearning"><b>Active learning</b></a>
                        <ul>
                            <li class="toc-entry toc-h3"><a href="#querystrat">Query Strategies</a></li>
                            <li class="toc-entry toc-h3"><a href="#stopcriterion">Stopping criteria</a></li>
                        </ul>
                    </li>
                    <li class="toc-entry toc-h2"><a href="#tutorials"><b>Tutorials</b></a>
                    </li>
                    <li class="toc-entry toc-h2"><a href="#faq"><b>Frequently Asked Questions</b></a>
                </ul>
            </div>

            <!--The main text-->
            <div role="main" class="col-12 col-md-9 col-xl-9 py-md-2 pl-md-5 bd-content">


                <div class="pt-4 container-fluid h-50 d-inline-block mt-2">
                    <div class="row">
                        <div class="col-sm-4 border-right">
                            <i class="fas fa-hand-point-up fa-2x"></i>
                            <p class="dtf pt-3"> Click on a header on the <b>header panel</b> above to get directed to
                                the main sections of this documentation </p>

                        </div>


                        <div class="col-sm-3 border-right">
                            <i class="fas fa-book-open fa-2x"></i>
                            <p class="dtf pt-3"> To get a quick idea of how you can select the most relevant results
                                from ALAMBIC, click on the <b>Tutorials</b> header above. </p>
                        </div>

                        <div class="col-sm-4">
                            <i class="fas fa-hand-point-right fa-2x"></i>
                            <p class="dtf pt-3"> To navigate through more <b>specific sections</b> of this
                                documentation, scroll through the <b>grey navigation panel</b> present at the right side
                                of this page and click on a header. </p>
                        </div>
                    </div>

                    <div id="summary">
                        <h1 class="display-4 ttf mt-4">Summary</h1>
                        <p class="dtf mt-4" itemprop="about">
                            ALAMBIC is a no-code Artificial Intelligence (AI) platform using an Active learning (AL)
                            approach.
                        </p>
                        <p>
                            It allows for the development of a machine learning model with data partially (or even not)
                            labelled
                            where the model is able to communicate to the human which data point (or <b>query</b>) it
                            would like
                            to learn the true label of according to a specific strategy, such as choosing the query the
                            most different
                            from all the other queries or the query being the most representative of a population of
                            queries. The model
                            stops asking for true labels when reaching a criterion (also called the <b>stopping
                            criterion</b>), like reaching
                            a desired accuracy for the model performance or a specific number of annotated queries.
                        </p>
                        <p>
                            ALAMBIC also allows the study of the performance of different query strategies in an active
                            learning setting for a specific model.
                        </p>

                        <h3 class="display-4 ssttf text-center mt-5">What can you do with ALAMBIC ?</h3>

                        <div class="container-fluid h-50 d-inline-block mt-4">
                            <div class="row">
                                <div class="col-sm-3 border-right">
                                    <p class="dtf pt-3 color-black"> ANNOTATE YOUR DATA </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="dtf pt-3">
                                        Annotations tools are available for diverse type of tasks and integrated in the
                                        active learning process.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="container-fluid h-50 d-inline-block mt-4">
                            <div class="row">
                                <div class="col-sm-3 border-right">
                                    <p class="dtf pt-3 color-black"> TRAIN A MODEL WITH ACTIVE LEARNING</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="dtf pt-3">
                                        Develop a model with little to no data labelled and optimize the labelling
                                        of your data by having the model telling you which data point it is most
                                        interested
                                        to know the true label of. You have the control on the model, its settings, the
                                        features used,
                                        as well as the settings of the active learning.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="container-fluid h-50 d-inline-block mt-4">
                            <div class="row">
                                <div class="col-sm-3 border-right">
                                    <p class="dtf pt-3 color-black"> EXPLORE THE PERFORMANCE OF THE FRAMEWORK </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="dtf pt-3">
                                        You can track either the performance of the model during its training or at the
                                        labelling step, or
                                        even study the impact of different active learning approaches for a specific
                                        model.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="alert alert-success pb-0 pb-0 mt-4 pt-0 border-success" role="alert">
                        <div class="container-fluid d-inline-block">
                            <div class="row">
                                <div class="col-1">
                                    <span class="mt-2"><br><i class="fas fa-thumbs-up fa-2x"></i></span>
                                </div>
                                <div class="col-11 mt-2">
                                    <p class="mt-2"> <b>DISCLAIMER:</b> The following information is only a part of the full documentation that can be found <a href="https://trusted-ai-labs.github.io/ALAMBIC/" target="_blank">here</a>. Don't hesitate to consult this documentation if you cannot find the answers to your questions in this lightweight version !</p>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div id="annot">

                        <h1 class="display-4 ttf mt-5">Annotation</h1>
                        <h2 id="annot_classification" class="display-4 sttf mt-5">Classification</h2>
                        <p class="dtf mt-4">
                            <img class="d-block w-100"
                                                         src="{% static 'images/annotation_classification.png' %}"
                                                         alt="Features">
                            You can see the data shown and just have to either select an existing label in the dropdown list or type the new label to create a new label.
                        </p>
                    </div>


                    <div id="activelearning">
                        <h1 class="display-4 ttf mt-5">Active learning</h1>
                        <p class="dtf mt-4">
                            With ALAMBIC, you can either develop a model with the help of active learning, meaning that you can also label in an optimized way (according to your chosen strategy) your data at the same time as you train a chosen model, or you can analyse the impact of different query strategies on the performance of a model.
                        </p>
                        <p class="dtf mt-4 color-black">
                            Which one should I choose ?
                        </p>
                        <p class="dtf mt-4">
                            If you are working with a partially labelled dataset and you want to label the rest, while still optimizing the amount of labels you have to provide, then developing a model is the task to choose. The obtained labels are enriching your dataset and the obtained model can label the rest of your data with a specified accuracy based on the given information.
                        </p>
                        <p class="dtf mt-4">
                            If you want to study which query strategy would be more convenient for your dataset (prior to the task of developing a model, for example), or you want to compare the performance of a new query strategy your developed with other commonly used query strategies, then the analysis task is the way to go.
                        </p>
                        <div class="alert alert-warning pt-1 pb-0 h-45 mt-4" role="alert">
                            <div class="container-fluid h-45 d-inline-block">
                                <div class="row">
                                    <div class="col-1">
                                        <span class="mt-2"><br><i class="fas fa-exclamation-triangle fa-2x"></i></span>
                                    </div>
                                    <div class="col-11 mt-2">
                                        <p class="mt-2"> <b>NOTE:</b> In order to be performed successfully, the analysis must be performed with a dataset fully labelled. While we allow the annotation process to be done during the analysis, you would have to relabel for each repeat of the process the annotation.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h2 id="querystrat" class="display-4 sttf mt-5">Query strategies</h2>
                        <h3 class="display-4 ssttf mt-4">Random sampling</h3>
                        <p class="dtf mt-4">
                            Base method used to compare with the performance of other query strategies. It just selects the required number of queries in a random manner.
                        </p>
                        <h3 id="uncertaintysampling" class="display-4 ssttf mt-4">Uncertainty Sampling</h3>
                        <p class="dtf mt-4">
                            The uncertainty sampling is the way the learner will select queries for whom it is the most uncertain in their label. This uncertainty can be measured in different ways.
                            Let's define \(x\) as an instance, \(\hat{y_i}\) corresponds to the \(i\)th most likely class predicted for the instance \(x\).
                        </p>
                        <h4 class="display-4 sssttf mt-4">Least confident</h4>
                        <p class="dtf mt-4">
                            The simplest measure calculate the difference between 100% confidence and the most confident prediction obtained for the instance \(x\)
                            $$LC(x) = 1 - P(\hat{y_1}|x)$$
                        </p>
                        <h4 class="display-4 sssttf mt-4">Margin</h4>
                        <p class="dtf mt-4">
                            Calculates the difference between the top two most confident predictions.
                            $$M(x) = P(\hat{y_1}|x) - P(\hat{y_2}|x)$$

                            In that case, the strategy will select the instance with the smallest margin, since the smaller the margin is, the most unsure the decision.
                        </p>
                        <h4 class="display-4 sssttf mt-4">Entropy</h4>
                        <p class="dtf mt-4">
                            Calculates the difference between all the prediction, as defined by information theory.
                            $$H(x) = -\sum_{k}P(y_k|x)\log(P(y_k|x))$$
                        </p>

                        <h3 class="display-4 ssttf mt-4">Core-set</h3>
                        <p class="dtf mt-4">
                            It is a diversity-based method which select in a greedy manner instances so that they are as different as possible from the training instances, but also as diverse as possible among each other. Based on the <a href=https://openreview.net/forum?id=H1aIuk-RW>paper</a> of Sener and Savarese (2018).
                        </p>

                        <h2 id="stopcriterion" class="display-4 sttf mt-5">Stopping criteria</h2>
                        <p class="dtf mt-4">
                            Stopping criteria are only used in the model development of the active learning framework. It will stop the active loop once a specific criterion has been reached.
                        </p>

                        <p class="dtf mt-4">
                            You can find below the criteria currently available.
                        </p>
                        <div class="container-fluid h-50 d-inline-block mt-4">
                            <div class="row">
                                <div class="col-sm-3 border-right">
                                    <p class="dft pt-3 color-black">
                                        BUDGET
                                    </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="dtf pt-3">
                                        You can choose the amount of data labeled by the oracle
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="container-fluid h-50 d-inline-block mt-4">
                            <div class="row">
                                <div class="col-sm-3 border-right">
                                    <p class="dtf pt-3 color-black">ACCURACY</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="dtf pt-3">
                                      The active loop will stop once the minimum accuracy desired is reached.
                                    </p>
                                </div>
                            </div>
                        </div>


                    </div>


                    <div id="tutorials">

                        <h1 class="display-4 ttf mt-5">Tutorials</h1>
                        <div id="tutorial-accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne"
                                                aria-expanded="true" aria-controls="collapseOne">
                                            Setup of the machine learning model
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#tutorial-accordion">
                                    <div class="card-body">
                                        <div id="carousel-setup" class="carousel slide pb-1 mx-5" data-ride="carousel" data-interval="false" data-wrap="false">
                                            <div class="carousel-inner">
                                                <div class="carousel-item active" data-details="#setup-model">
                                                    <img class="d-block w-100"
                                                         src="{% static 'images/tutorials/setup_model.png' %}"
                                                         alt="Model Choice">
                                                    <div class="carousel-caption d-none d-md-block">
                                                        <h3 class="display-4 ssttf mt-4">Choice of the model</h3>
                                                        <p class="dtf mt-4">
                                                            You will have to choose here the model you want to use for the learning process. Only the models related to your task will be available.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item" data-details="#setup-model-params">
                                                    <img class="d-block w-100"
                                                         src="{% static 'images/tutorials/setup_model_param.png' %}"
                                                         alt="Model parameters">
                                                    <div class="carousel-caption d-none d-md-block">
                                                        <h3 class="display-4 ssttf mt-4">Parameters of the model</h3>
                                                        <p class="dtf mt-4">
                                                            Some parameters are available to parametrize the model
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item" data-details="#setup-features">
                                                    <img class="d-block w-100"
                                                         src="{% static 'images/tutorials/setup_features.png' %}"
                                                         alt="Features">
                                                    <div class="carousel-caption d-none d-md-block">
                                                        <h3 class="display-4 ssttf mt-4">Choice of preprocessing and features</h3>
                                                        <p class="dtf mt-4">
                                                            Choose here which transormation to applyy on your data and which features will be the input of your model
                                                        </p>
                                                    </div>
                                                </div>

                                            </div>
                                            <a class="carousel-control-prev" href="#carousel-setup" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon material-icons" aria-hidden="true">
                                                    keyboard_arrow_left
                                                </span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carousel-setup" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon material-icons" aria-hidden="true">
                                                    keyboard_arrow_right
                                                </span>
                                                <span class="sr-only">
                                                    Next
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div id="faq">
                        <h1 class="display-4 ttf mt-5">Frequently Asked Questions</h1>


                        <p class="dtf mt-5">
                            If answers to your questions are not provided in this section
                            and no information about your question is mentioned in the Documentation page, you can
                            <a href="{% url 'about' %}#contact" target="_blank"><span class="ltf">contact us</span></a>.

                        </p>


                        <div class="container-fluid h-50 d-inline-block mt-5">
                            <div class="row">
                                <div class="col-12 border-left border-bottom">
                                    <span class="dtf pt-3"><b class="color-black"><i
                                            class="fas fa-question-circle fa-pl-2"></i> Question?</b><br>
                                        Answer<br><br>
                                    </span>
                                    <p class="dtf">
                                        Other part of answer
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="container-fluid h-50 d-inline-block mt-5">
                            <div class="row">
                                <div class="col-12 border-left border-bottom">
                                    <span class="dtf pt-3"><b class="color-black"><i
                                            class="fas fa-question-circle fa-pl-2"></i> Question?</b><br>
                                        Answer<br><br>
                                    </span>
                                    <p class="dtf">
                                        Other part of answer
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="container-fluid h-50 d-inline-block mt-5">
                            <div class="row">
                                <div class="col-12 border-left border-bottom">
                                    <span class="dtf pt-3"><b class="color-black"><i
                                            class="fas fa-question-circle fa-pl-2"></i> Question?</b><br>
                                        Answer<br><br>
                                    </span>
                                    <p class="dtf">
                                        Other part of answer
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="container-fluid h-50 d-inline-block mt-5">
                            <div class="row">
                                <div class="col-12 border-left border-bottom">
                                    <span class="dtf pt-3"><b class="color-black"><i
                                            class="fas fa-question-circle fa-pl-2"></i> Question?</b><br>
                                        Answer<br><br>
                                    </span>
                                    <p class="dtf">
                                        Other part of answer
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="container-fluid h-50 d-inline-block mt-5">
                            <div class="row">
                                <div class="col-12 border-left border-bottom">
                                    <span class="dtf pt-3"><b class="color-black"><i
                                            class="fas fa-question-circle fa-pl-2"></i> Question?</b><br>
                                        Answer<br><br>
                                    </span>
                                    <p class="dtf">
                                        Other part of answer
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}