{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title> ALAMBIC | Getting the essence</title>
{% endblock %}

{% block primary %}

    <main id="home" role="main" class="container-fluid maxWidth90">
        <p>Stuff to do here</p>
        <ul>
            <li>
                Download model(s) (pickle ?)
            </li>
            <li>
                Csv of performance according to time
            </li>
            <li>
                Plots
            </li>
        </ul>
    </main>

{% endblock %}