{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %}
    <title> ALAMBIC | Upload data</title>
{% endblock %}

{% block primary %}

    <main id="Input" role="main" class="container-fluid maxWidth90">
        <div style="z-index: 5000; display:none;" id="loadingDiv">
            <table style="margin: 0px auto;">
                <tr>
                    <td style="padding-top:200px;"><img src='{% static "images/ajax-loader.gif" %}'
                                                        alt="loading image"/></td>
                </tr>
            </table>
        </div>
        <form enctype="multipart/form-data" action="" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="col-md-10">
                <div class="card vertical-align" style="height:380px">
                    <div class="card-body form-panel">
                        {% for field in form %}
                            <div class="form-group row">
                                <label class="control-label col-sm-3" for="{{ field.name }}">{{ field.label }}</label>
                                <div class="col-sm-5">
                                    {% if form.is_bound %}
                                        {% if field.errors %}
                                            {% render_field field class+="form-control ml-1 is-invalid" %}
                                        {% else %}
                                            {% render_field field class+="form-control ml-1" %}
                                        {% endif %}
                                    {% else %}
                                        {% render_field field class+="form-control ml-1" %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="text-center pt-3">
                <input id="alambicSubmit" class="btn btn-success submit" type="submit" value="Submit"/>
            </div>
        </form>
    </main>

{% endblock %}

{% block javascripts %}
    <script>
        $('#alambicSubmit').submit(function () {
            // javascript way
            document.getElementById("loadingDiv").style.display = 'block';
            // jquery way
            $('#loadingDiv').css('visibility', 'visible');
        });
    </script>
{% endblock %}